.wrapper {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.input {
    width: 75%;
    border: none;
    outline: none;
    padding: 10px 10px 10px 20px;
    font-size: 17px;
    color: #0d1117;
    background-color: #D0CCCCFF;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: all ease .2s;
}


.input::placeholder {
    color: #525050;
    font-size: 17px;
    letter-spacing: 1.5px;
}

.input__error {
    background-color: #DA9292FF;
}

.button {
    background-color: #D0CCCCFF;
    color: #525050;
    border: none;
    height: 80%;
    width: 15%;
    text-align: center;
    font-size: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: all ease .2s;
}

.button:hover {
    cursor: pointer;
    font-size: 19px;
}

.button:active {
    transform: scale(1.1);
}

.button__error {
    background-color: #da9292;
}

.error__span {
    position: absolute;
    top: 50px;
    left: 40%;
    color: red;
    font-size: 20px;
}